<!-- Footer -->
<footer class="py-5 bg-transparent fixed-bottom" id="footer">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-white">
          &copy; 2021 Nokia. All rights reserved. Nuage Networks is a Nokia venture.
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>