<div class="container-fluid bottom">
  <h5 class="text-right text-muted pt-5">Quoting Tool v0.1 based on <%= link_to "CE-LAT PS QUOTING TOOL - V3.0", asset_path("CE-LAT_PS_QUOTE_TOOL-V3.0.xlsm") %></h5>

  <hr>

  <!-- Footer -->
  <footer class="footer pt-0 container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center text-lg-left text-muted">&copy; 2020-2021 Nokia. All rights reserved. Nuage Networks is a Nokia venture.</div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white" target="_blank">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>